body {
    background-color: #000;
}

main {
    background-color: #343030;
    width: 800px;
    margin: auto;
    padding: 30px;
    border: solid grey;
    border-width: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo{
    font-size: 75px;
    margin-bottom: 150px;
    color: #FDDB61;
}

.page-header {
    font-size: 40px;
    color: #39BAAC;
    margin-bottom: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Bungee Inline', cursive;
}

p {
    color: white;
}
p, a, input {
    font-family: 'Raleway', sans-serif;
    font-size : 18px;
}

.button {
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: skyblue;
    color: #000;
    margin-bottom: 20px;
    width: 125px;
    text-align: center;
}

input[type="text"],input[type="password"]  {
    width: 200px;
    background-color: white;
    color: black;
}

input[type="submit"]{
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    align-self: flex-end;   
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

form p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form p label, form p input {
    display: block;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.delete-button input[type="submit"]{
    background-color: orangered;
    padding: 10px;
    border-radius: 5px;
    width: 125px;
    text-align: center;
    align-self: center;   
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.logoff-button input[type="submit"] {
    background-color: orangered;
    font-size: 11px;
    width: 40px;
    margin-top: 10px;
}

.login-section p {
    font-size: 11px;
}