body {
    background-color: #000;
}

main {
    background-color: #343030;
    width: 800px;
    margin: auto;
    padding: 30px;
    border: solid grey;
    border-width: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo{
    font-size: 75px;
    margin: 50px 0;
    color: #FDDB61;
}

.page-header {
    font-size: 40px;
    color: #39BAAC;
    margin-bottom: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Bungee Inline', cursive;
}

p, li {
    color: white;
}
p, a, input, li {
    font-family: 'Raleway', sans-serif;
    font-size : 18px;
}

li {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: skyblue;
    color: #000;
    /* width: 125px; */
    min-width: 100px;
    text-align: center;
}

.button:hover {
    background-color: #0a00ff;
    color: white;
}

input[type="text"],input[type="password"] , input[type="number"], textarea  {
    width: 200px;
    background-color: white;
    color: black;
}

input[type="submit"]{
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #0a00ff;
    color: white;
}

.main-form input[type="submit"]{
    text-align: center;
    align-self: flex-end;  
}

form {
    display: flex;
    flex-direction: column;   
}

form p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form p label, form p input {
    display: block;
}

.main-form{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.delete-button {
    min-width: 100px;
}

.delete-button input[type="submit"]{
    background-color: orangered;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.delete-button input[type="submit"]:hover{
    background-color: darkred;
}

.login-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}

.login-info {
    display: flex;
}

.login-info p {
    margin: 10px
}

.notes-list{
    width: 400px;
}
