
<h2 class="page-header">Sign-In</h2>

<a class="button" href="<%= new_user_url %>">Go to Sign-Up!</a>

<%= render 'shared/errors' %>

<form action="/session" method="POST">
    <%= auth_token %>
    
    <p>
        <label for="sign_in_user_email">Email</label>
        <input
            id="sign_in_user_email"
            name="user[email]"
            type="text">
    </p>

    <p>
    <label for="sign_in_user_password">Password</label>
    <input
        id="sign_in_user_password"
        name="user[password]"
        type="password">
    </p>

    <input type="submit" value="Submit">

</form>