.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid $light-gray
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 20px;
      
    }
  }

  span {
    padding-left: 10px;
  }
}

.right-nav  {

  > ul {

    > li {
      padding: 10px 2px;
    }

    > li:last-of-type {
      font-size: 16px;
      padding: 5px;
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

