<h2><%= @user.email %>'s Page</h2>

<h3>My Goals</h3>

<% if @user.goals.empty? %>
    <p>You have no goals.</p>
<% else %>
    <ul>
        <% @user.goals.each do |goal| %>
            <li><%= goal.title %></li>
        <% end %>
    </ul>
<% end %>

<ul class="page_links">
    <li><a class="button" href="<%= new_goal_url %>">Add Goal</li>
</ul>