<header class="masthead">
    <section class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </section>

    <img src="assets/AA_Times_Logo.png" alt="AA Times Logo" class="logo">

    <section >
        <ul class="masthead-links">
            <li><time>Tuesday, October 18, 2016</time></li>
            <li>
                <i class="fas fa-newspaper"></i>
                <span><a href="#">Today’s Paper</a></span>
            </li>
            <li>
                <i class="fas fa-video"></i>
                <span><a href="#">Video</a></span>
            </li>
            <li><button>77°F</button></li>
            <li><button>AAO <strong>+100%</strong></button></li>
            
        </ul>
    </section>
</header>