<h2 class="page-header">Bands</h2>

<section class="bands-section"> 
    <ul class="bands-list">
        <% @bands.each do |band| %>
            <a href="<%= band_url(band) %>"><li class="band-buttons"><%= band.name %></li></a>
        <% end %>
    </ul>
</section>

<% if current_user.administrator %>
    <h3 class="links-header">Links</h3>


    <a class="button" href="<%= new_band_path %>">Add Band</a>
<% end %>