<h1>Add a Cat!</h1>

<form action="/cats" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]">
    <br>
    
    <input id="sex-M" type="radio" name="cat[sex]" value="M">
    <label for="sex-M">M</label>
    <input id="sex-F" type="radio" name="cat[sex]" value="F">
    <label for="sex-F">F</label>
    <br>

    <label for="color">Color</label>
    <select id="color" name="cat[color]">
        <option disabled selected>-- Select a Color --</option>
        <% @colors.each do |color| %>
            <option value="<%= color %>"><%= color %></option>
        <% end %>
    </select>
    <br>

    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cat[birth_date]">
    <br>

    <label for="description">Description</label>
    <textarea id="description" name="cat[description]"></textarea>
    <br>



    <input type="submit" value="Add Cat!">

</form>