<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post") %>
<% message = (user.persisted? ? "Update" : "Submit") %>

<form action="<%= action %>" method="post"> 
    <input
        name="_method"
        type="hidden"
        value="<%= method %>">

    <%= auth_token %>

    <p>
        <label for="sign_up_user_email">Email</label>
        <input
            id="sign_up_user_email"
            name="user[email]"
            type="text">
    </p>
    
    <p>
        <label for="sign_up_user_password">Password</label>
        <input
            id="sign_up_user_password"
            name="user[password]"
            type="password">
    </p>

    <input type="submit" value="<%= message %>">

</form>