<h2 class="page-header">New User</h2>

<a class="button" href="<%= new_session_url %>">Go to Sign-In!</a>

<%= render 'shared/errors' %>
<%= render 'shared/notices' %>


<%= render "form", user: @user %>
